body {
  font-family: helvetica neue, helvetica, liberation sans, arial, sans-serif;
  font-size: 14px;
}

#cy {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
}

#buttons {
  position: fixed;
  right: 2.25rem;
  margin-bottom: 8rem;
	color: #fff;
	color: #666;
	z-index: 99999;
}

#buttons button {
  font-size: 50px;
  background: #fff;
  margin-top: 1rem;
  padding: 7%;
  color: #666;
  border: 1px solid gray;
  cursor: pointer;
  display: block;
  border-radius: 10%;
}


#buttons button.drawon {
  color: black;
  background: #FF3131;
}

#buttons button.drawoff {
  color: black;
  background: #0096FF;
}

#buttons #draw-off:hover{
  color: black;
  background: #0096FF;
}

#buttons #draw-on:hover{
  color: black;
  background: #FF3131;
}

#buttons #add-node:hover{
  color: black;
  background: #32CD32;
}

#buttons #delete-element:hover{
  color: black;
  background: yellow;
}
